@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
}

.nav-font {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
}

.navigation {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.123);
}

.hero {
  height: 100vh;
  background: url("/images/paint-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.name {
  font-size: 4.5rem;
}

.heading {
  font-size: 3rem;
}

.title {
  font-size: 2rem;
}

.link-icon {
  text-align: center;
  font-size: 1.2rem;
  width: 40px;
  border: 2px solid black;
  border-radius: 10px;
  opacity: 0.65;
}

.link-icon:hover, .link-icon:focus {
  transform: scale(1.05);
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.proj-link {
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.project-img {
  background-repeat: no-repeat;
  min-height: calc(110vh - 76px);
  width: 100%;
}

.default-img {
  background-image: url('/images/project.jpg');
  background-size: cover;
  background-position: center;
}

.borker-img {
  background: linear-gradient(to left, rgba(224, 151, 151, 0.3), rgba(216, 153, 142, 0.6)), url('/images/borker.jpg');
  background-size: cover;
  background-position: 50% 60%;
}

.spontaneously-img {
  background: linear-gradient(rgba(71, 19, 71, 0.7), rgba(255, 192, 203, 0.5)), url('/images/spontaneously.jpg');
  background-position: 35% 78%;
}

.bobafy-img {
  background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.6)), url('/images/bobafy.png');
  background-size: cover;
}

.project {
  color: white;
  background-size: cover;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.5);
  opacity: 0.95;
}

.project:hover {
  transform: scale(1.05);
  opacity: 1;
}

.project-1 {
  background: linear-gradient(to left, rgba(177, 122, 194, 0.7), rgba(239, 155, 247, 0.5)), url("/images/watercolor-border.jpg");
}

.project-2 {
  background: linear-gradient(to left, rgba(202, 138, 177, 0.7), rgba(255, 192, 224, 0.5)), url("/images/watercolor-border.jpg");
}

.project-3 {
  background: linear-gradient(to left, rgba(197, 158, 132, 0.7), rgba(255, 217, 192, 0.5)), url("/images/watercolor-border.jpg");
}

.tools {
  background: linear-gradient(rgba(156, 223, 217, 0.7), rgba(134, 231, 210, 0.5)), url("/images/watercolor-texture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact {
  height: 100vh;
}

.icon {
  font-size: 6rem;
}

.mysql, .jquery {
  color: rgb(19, 113, 190);
}

.click {
  cursor: pointer;
}

@media (min-width: 1360px) {
  .hero {
    height: 70vh;
    background-size: cover;
  }

  .project-img {
    min-height: calc(90vh - 76px);
  }

  .name {
    font-size: 5.5rem;
  }

  .title {
    font-size: 3rem;
  }
}

@media (max-width: 1025px) {
  .hero {
    height: 52vh;
    background-size: cover;
  }

  .project-img {
    min-height: calc(90vh - 76px);
  }

  .name {
    font-size: 4.8rem;
  }

  .title {
    font-size: 2.5rem;
  }
}

@media (max-width: 825px) {
  .name {
    font-size: 3.5rem;
  }

  .title {
    font-size: 2rem;
  }

  .hero {
    height: 100vh;
    background-position: 45% 0%;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 52vh;
  }
}

@media (max-width: 740px) {
  .hero {
    height: 100vh;
  }
}

@media (max-width: 570px) {
  .name {
    font-size: 3rem;
  }

  .title {
    font-size: 1.5rem;
  }
}

@media (max-width: 415px) {
  .name {
    font-size: 3.8rem;
  }

  .title {
    font-size: 2.2rem;
  }

  .hero {
    height: 75vh;
  }
}

@media (max-width: 360px) {
  .name {
    font-size: 3.5rem;
  }

  .title {
    font-size: 2rem;
  }

  .hero {
    height: 85vh;
  }
}
